<!DOCTYPE html>
<html lang="ru" xmlns:form="http://www.w3.org/1999/html">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.autosize/3.0.18/autosize.min.js"></script>
    <title>Registeer</title>
</head>
<body>
<div class="in"></div>
<form action="/register-request" method="post">
    <input type="text" name="firstName" placeholder="First name"/> <br>
    <input type="text" name="lastName" placeholder="Last name"/> <br>
    <input type="text" name="email" placeholder="Email"/> <br>
    <input type="text" name="password" placeholder="Password"/><br>
    <input type="text" name="phone" placeholder="Phone"/><br>
    <input type="text" name="city" placeholder="City"/><br>

    <button type="submit">сохранить</button>
</form>

</body>
</html>